@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

img {
    max-width: fit-content;
    object-fit: contain;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: aliceblue;
    font-weight: 700;
    font-size: 1.6rem;
}

body {
    max-width: 1200px;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    background-color: rgba(255, 127, 80, 0.05);
}

#div__header {
    background-color: rgba(244, 165, 96, 0.692);
    width: 1200px;
    display: flex;
    flex-direction: column;
    position: relative;
}

#div__identification{
    display: flex;
    flex-direction: row;
    align-items:baseline;
    justify-content: space-between;
    gap: 3rem;
}

#logo {
    max-width: 120px;
    min-width: 80px;
    margin: 0 auto;
}

h1 {
    color: aliceblue;
    text-align: center;
    font-size: 2.8rem;
}

#userName{
    color: aliceblue;
    font-size: 1.4rem;
    margin-left: 2rem;
    cursor: pointer;
    margin-top: 1rem;
}

#covidCases{
    margin-right: 2rem;
    color: aliceblue;
    font-size:  1.4rem;
}

#infoCovid{
    text-align: center;
    font-size: 1.2rem;
}

.cart__menu {
    display: flex;
    position: absolute;
    top: 72%;
    right: 5%;
}

.fa-solid{
    color: aliceblue;
    font-size: 30px;
    cursor: pointer;
}

#cart_icon{
    display:none
}
.subtitle {
    font-size: 1.8rem;
    margin-top: 1rem;
    color: salmon;
    font-weight: 700;
}

#nav__list {
    max-height: 20vh;
    background-color: salmon;
    padding: 2rem;
    text-align: center;
}

#nav__list ul{
    display: flex;
    flex-direction: row;
    gap: 15rem;
    justify-content: center;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 2px solid salmon;
    padding: 1rem;
    margin: 50px 80px;
    width: 300px;
    max-height: 500px;
}

.product__img {
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
    margin: 0 auto;
}

.product__info {
    margin: 1rem 0;
}

.addToCart, .cleanAll, .erase {
    background-color: sandybrown;
    border: none;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    font-size: 1.2rem;
    cursor: pointer;
    padding: .3rem;
}

#checkCart {
    display: flex;
    align-items: center;
    justify-content: center;

}

.addToCart:hover {
    background-color: chocolate;
}

#ocassional,
#candies,
#christmas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    height: fit-content;
    margin-top: 5rem;
}

table {
    margin: 20px auto;
    border: 2px solid coral;
    background-color: rgb(255, 231, 223);
    visibility: hidden;
    position: absolute;
    right: 0;
    z-index: 1;
    width: 80vw;
}

th {
    color: salmon;
    border: 1px solid coral;
    padding-inline: 4rem;
    font-size: 1.4rem;
}

td {
    color: chocolate;
    border: none;
    padding-inline: 4rem;
    font-size: 1.2rem;
    text-align: center;
}
#total {
    font-weight: 700;
}


.plus{
    background-color: sandybrown;
    font-size: 1.2rem;
    width: 20px;
    color: aliceblue;
    cursor: pointer;
    border: none;
    margin-left: 1.5rem;
}

.less {
    background-color: sandybrown;
    font-size: 1.2rem;
    width: 20px;
    color: aliceblue;
    cursor: pointer;
    border: none;
    margin-right: 1.5rem;
}


.cart__menu:hover table{
 visibility: visible;
}

.hidden{
  visibility: hidden;
}